html
   head
      title Face
      script(src='./views/change_page.js')
  
   body
      
     
      h1 Welcome Back #{name}
   
         
         
      button(onclick = "changePage()") change page    