html
   head
      title Face
      script(src='./views/change_page.js')
  
   body
      
      if(type == "error")
         h3(style = "color:red") #{message}
      else
         h3 New face, 
   
         h4  name: #{name} 
        
      if(type == "success")
         h3 #{message}
         
      button(onclick = "changePage()") change page    